
@model WebMVC.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatry.css" />  <!--mudando a chamada do tema do bootstrap-->
<link rel="stylesheet" href="~/css/site.css" />

<form asp-action="Create" class="form-horizontal">
    <fieldset>
        <legend>Novo Vendedor</legend>
        <div class="form-group">
            <label asp-for="Vendedor.Nome" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
                <input asp-for="Vendedor.Nome" type="text" class="form-control" id="Nome" placeholder="Nome">
            </div>

        </div>

        <div class="form-group">
            <label asp-for="Vendedor.Email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input asp-for="Vendedor.Email" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Vendedor.BaseSalarial" class="col-lg-2 control-label">Base Salarial</label>
            <div class="col-lg-10">
                <input asp-for="Vendedor.BaseSalarial" type="number" class="form-control" id="inpuBaseSalarial" placeholder="R$">
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Vendedor.DataNascimento" class="col-lg-2 control-label">Data de Nascimento</label>
            <div class="col-lg-10">
                <input asp-for="Vendedor.DataNascimento" type="date" class="form-control" id="inpuBaseSalarial" placeholder="">
            </div>
        </div>



        <div class="form-group">
            <label asp-for="Vendedor.DepartamentoId" class="col-lg-2 control-label">Departamento</label>
            <div class="col-lg-10">
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos, "Id","Nome"))" class="form-control" id="select"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button asp-action="Create" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </fieldset>
</form>