
@model WebMVC.Models.Vendedor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatry.css" />  <!--mudando a chamada do tema do bootstrap-->
<link rel="stylesheet" href="~/css/site.css" />

<form asp-action="Create" class="form-horizontal">
    <fieldset>
        <legend>Novo Vendedor</legend>
        <div class="form-group">
            <label asp-for="Nome" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
                <input asp-for="Nome" type="text" class="form-control" id="Nome" placeholder="Nome">
            </div>

        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input asp-for="Email"  type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="inpuBaseSalarial" class="col-lg-2 control-label">Base Salarial</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inpuBaseSalarial" placeholder="R$">
            </div>
        </div>


        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Data de Nascimento</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inpuBaseSalarial" placeholder="">
            </div>
        </div>



        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Departamento</label>
            <div class="col-lg-10">
                <select class="form-control" id="select">
                    <option>Computador</option>
                    <option>Computador</option>
                    <option>Computador</option>
                    <option>Computador</option>
                    <option>Computador</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button asp-action="Create" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </fieldset>
</form>